body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background: #333;
  color: white;
  padding: 20px;
}

section {
  margin: 20px;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}
body.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
